/////////////////////
//  Boxes styles  //
/////////////////////

.sri-box--base {
  padding: ($sri-box-margin - 60px) $sri-box-margin;
  margin: 5em ($sri-box-margin * -1);
}

.sri-box {
  @extend .sri-box--base, .rounded;
  background-color: $sri-light;
}

.sri-box--orange-lighter {
  @extend .sri-box;
  background-color: $sri-orange-lighter;
}

.sri-box--gray-blue {
  @extend .sri-box;
  background-color: $sri-blue-000;
}

.sri-box--gray-light {
  @extend .sri-box;
  background-color: $sri-gray-light;
}

.sri-box--transparent {
  @extend .sri-box--base;
  margin: 0 ($sri-box-margin * -1);
}

@include media-breakpoint-down(lg) {
  .sri-box--base {
    padding: ($sri-box-margin--lg - 10px) $sri-box-margin--lg;
    margin: 5em ($sri-box-margin--lg * -1);
  }
}

@include media-breakpoint-down(sm) {
  .sri-box--base {
    padding: $sri-box-margin--sm;
    margin: 5em ($sri-box-margin--sm * -1);
  }
}