/////////////////////
//  Button styles  //
/////////////////////

.btn {
  font-weight: 700;
  text-transform: uppercase;
}

.sri-btn--solid {
  @extend .btn, .btn-primary;
  min-width: 310px;
  padding: 0.76em 2em;
  border-radius: 30px;
  font-size: 1.2rem;
}

.sri-btn--hollow {
  @extend .btn, .btn-outline-secondary;
  min-width: 310px;
  padding: 0.76em 2em;
  border-radius: 30px;
  font-size: 1.2rem;
  border-width: 2px;
}

.sri-btn--hollow-sm {
  @extend .btn, .btn-sm, .btn-outline-secondary;
  padding: 0.45em 2em;
  border-radius: 20px;
  border-width: 2px;
}

.sri-btn--featured {
  @extend .btn, .btn-sm, .text-light;
  background-color: $sri-blue-500;
  padding: 0.45em 2em;
  border-radius: 10px;
  color: $sri-light;
}

.sri-btn--featured:hover {
  color: $sri-light !important;
}

.sri-circle-button {
  display: block;
  overflow: hidden;
  width: 35px;
  height: 35px;
  margin: 0 0.3em;
  background: $sri-gray-light;
  color: transparent;
  text-indent: 35px;
  border-radius: 20px;
  position: relative;
}

.sri-circle-button:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  @include centerThis();
  // Include background with desired icon
}

.sri-pager {
  margin-top: 40px;
  margin-bottom: 120px;

  .pager__items {
    @extend .pagination, .justify-content-center;
  }

  .pager__item {
    @extend .page-item;
    
    a,
    .page-label {
      @extend .page-link;
      color: $sri-text-blue !important;
    }
  }

  .pager__item--ellipsis {
    @extend .page-link;
    color: $sri-text-blue !important;
  }

  .pager__item.is-active {
    @extend .active;
    
    a,
    .page-label {
      color: $sri-text-blue-dark !important;
      background-color: $sri-blue-200 !important;
      border-color: $sri-blue-200 !important;
    }
  }
}


@include media-breakpoint-down(xs) {
  .sri-btn--solid,
  .sri-btn--hollow {
    min-width: unset;
  }
}