/////////////////////
//  Button styles  //
/////////////////////

input, .select__container {
  @extend .form-control;
  height: calc(1.6em + 0.75rem + 4px);
  padding: 0.375rem 1rem;
  border-color: $sri-blue-200;
  border-width: 2px;
  font-weight: 500;
  font-size: 13pt;
}

.select__container {
  position: relative;
  overflow: hidden;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
  height: 100%;
  padding-right: 50px;
  border: 0;
}

.select__icon {
  width: 40px;
  height: 40px;
  border-left: 2px solid $sri-blue-200;
  @include centerThis('right');
  background: url("#{$assets_dir}/ui/arrow_down_gray.svg") no-repeat center center;
  background-color: $sri-gray-medium;
  pointer-events: none;
}

input[type='text'] {
  color: $sri-text-blue;
}

input[type='text']::placeholder {
  color: $sri-text-blue;
}


// Form items

.form-item {
  @extend .form-group, .row;

  .form-item__label {
    @extend .col-md-3, .col-form-label;
  }

  .form-item__contents {
    @extend .col-md-9;
  }
}


.form-search {
  padding-right: 60px;
  background-image: url('#{$assets_dir}/icons/search_blue.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: right center;
  background-position-x: 97%;
}