//////////////////////////
//  List style classes  //
//////////////////////////

.sri-text--lists {
  color: $sri-text-medium;
  font-size: $t-03;
  font-weight: 500;
}

.sri-text--lists-links {
  color: $sri-text-blue !important;
  // font-size: $t-03;
  font-weight: 500;
}

.sri-text--standard-list {
  li {
    @extend .sri-text--lists;
    margin: 0.5em 0;
    font-size: $t-02;
    
    a {
      @extend .sri-text--lists-links;
    }
  }
}

.sri-text--featured-list {
  padding: 0;

  li {
    @extend .sri-text--lists;
    list-style-type: none;
    margin: 0.6em 0 !important;
    min-height: 40px;
    padding-left: 70px;
    background: url("#{$assets_dir}/ui/chevron_bullet.svg") no-repeat left center;
    background-position: top left;
    background-size: 25px;
    
    a {
      @extend .sri-text--lists-links;
    }
  }
}