/////////////////////
//  Global styles  //
/////////////////////

body {
  @extend .sri-text;
}

// h1.title, h2.title, h3.title, h4.title, h5.title, h6.title {
//   @extend .sri-text--section-title;
// }

// h1.subtitle, h2.subtitle, h3.subtitle, h4.subtitle, h5.subtitle, h6.subtitle {
//   @extend .sri-text--section-subtitle;
// }

// text formats in pages and other node contents
.sri-text-styled {
  @extend .formated-images;
  
  h2 {
    @extend .sri-text--section-title;
  }

  h3 {
    @extend .sri-text--section-subtitle;
  }

  p[class=""] {
    @extend .sri-text--paragraph;
  }

  p {
    iframe {
      width: 100%;
      height: 576px;
      margin: 1em auto;
    }
  }

  a:not(.btn) {
    @extend .sri-text--paragraph-link;
  }

  blockquote,
  .sri-text--quote-attribution,
  .sri-text--quote-attribution-right {
    padding: 0 $sri-box-margin;
  }

  blockquote {
    @extend .sri-text--quote;
    position: relative;
  }

  blockquote p:last-child {
    margin-bottom: 0;
  }

  .bloquote__double-comma {
    display: block;
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }

  blockquote:before {
    @extend .bloquote__double-comma;
    top: 5px;
    left: 5px;
    background-image: url("#{$assets_dir}/ui/double_comma_quote_up.svg");
  }
  
  blockquote:after {
    @extend .bloquote__double-comma;
    bottom: 5px;
    right: 5px;
    background-image: url("#{$assets_dir}/ui/double_comma_quote_down.svg");
  }

  ul,
  ol {
    @extend .sri-text--standard-list;
  }
}

@include media-breakpoint-down(lg) {
  .sri-text-styled {
    blockquote,
    .sri-text--quote-attribution,
    .sri-text--quote-attribution-right {
      padding: 0 $sri-box-margin--lg;
    }
    
    .bloquote__double-comma {
      width: 30px;
      height: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .sri-text-styled {
    blockquote,
    .sri-text--quote-attribution,
    .sri-text--quote-attribution-right {
      padding: 0 $sri-box-margin--sm;
    }

    blockquote {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    blockquote:before {
      left: $sri-box-margin--sm;
      top: 0;
    }

    blockquote:after {
      right: $sri-box-margin--sm;
      bottom: 0;
    }
  }
}