//////////////////////////////////////
//  Modal and modals region styles  //
//////////////////////////////////////

.modals {
  width: 100vw;
  height: 100vh;
  overflow: visible;
  @include centerThis();
  position:fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, .25);
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.modals.is-active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  display: none;
  @extend .rounded;
  max-width: 90%;
  max-height: 80%;
  @include centerThis();
  background: $sri-light;

  .button-close {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: transparent;
    overflow: hidden;
    padding-left: 40px;
    background: url('#{$assets_dir}/icons/close_blue.svg') center center no-repeat;
    background-size: contain;
  }
}

.modal.is-displayed {
  display: block;
}

@include media-breakpoint-down(sm) {
  .modal {
    width: 100% !important;
    height: 100% !important;
    max-width: unset !important;
    max-height: unset !important;
    border-radius: initial !important;
  }
  
  .toolbar-vertical {
    .modal {
      padding-top: 32px;

      .button-close {
        top: 42px;
      }
    }
  }
}


