//////////////////////////////
//  Status messages styles  //
//////////////////////////////

.status-message {
  @extend .alert;
  // margin: 30px auto;
}

.status-message--error {
  @extend .alert-danger;
}

.status-message--warning {
  @extend .alert-warning;
}

.status-message--status {
  @extend .alert-success;
}

// .status-message__body {
//   @extend .alert__body;
// }