{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - [everything available in a standard node template]
 * - freeform_items: an array that contains the freeform items (paragraphs) by code
 *   Each key contains an array with two basic elements:
 *   - contents: The render array of the paragraph (so, this will respond to the view mode configuration)
 *   - entity: the paragraph entity
 */
#}

{% import '@sri_theme/freeform/macros.twig' as sriMacros %}

<article{{ attributes }}>

<div class="db-tools">
  <div class="db-tools__row">
    <div class="db-tools__col">
      <a href="{{ sriMacros.freeformLinkURL('law_and_policy-link', freeform) }}">
        <div class="feature-card">
          <div class="feature-card__preview" style="background-image: url('{{ sriMacros.freeformImageUri('law_and_policy', freeform)|trim }}');"></div>  
          <div class="feature-card__footer">
            <span class="feature-card__footer-label">{{ sriMacros.freeformImageTitle('law_and_policy', freeform)|trim }}</span>
          </div>
        </div>
      </a>
    </div>
    <div class="db-tools__col">
      <a href="{{ sriMacros.freeformLinkURL('upr_toolkit-link', freeform) }}">
        <div class="feature-card">
          <div class="feature-card__preview" style="background-image: url('{{ sriMacros.freeformImageUri('upr_toolkit', freeform)|trim }}');"></div>  
          <div class="feature-card__footer">
            <span class="feature-card__footer-label">{{ sriMacros.freeformImageTitle('upr_toolkit', freeform)|trim }}</span>
          </div>
        </div>
      </a>
    </div>
    <div class="db-tools__col">
      <a href="{{ sriMacros.freeformLinkURL('upr_database-link', freeform) }}">
        <div class="feature-card">
          <div class="feature-card__preview" style="background-image: url('{{ sriMacros.freeformImageUri('upr_database', freeform)|trim }}');"></div>  
          <div class="feature-card__footer">
            <span class="feature-card__footer-label">{{ sriMacros.freeformImageTitle('upr_database', freeform)|trim }}</span>
          </div>
        </div>
      </a>
    </div>
    <div class="db-tools__col">
      <a href="{{ sriMacros.freeformLinkURL('un_resources_tool-link', freeform) }}">
        <div class="feature-card">
          <div class="feature-card__preview" style="background-image: url('{{ sriMacros.freeformImageUri('un_resources_tool', freeform)|trim }}');"></div>  
          <div class="feature-card__footer">
            <span class="feature-card__footer-label">{{ sriMacros.freeformImageTitle('un_resources_tool', freeform)|trim }}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

</article>
