{% import '@sri_theme/freeform/macros.twig' as sriMacros %}

<div class="resources-library-search">
  <div class="resources-library-search__row">
    <div class="resources-library-search__intro-col">
      {{ sriMacros.freeformText('header', freeform) }}
    </div>
    <div class="resources-library-search__form-col">
      {{ drupal_form('\\Drupal\\sri_blocks\\Form\\ResourcesSearch') }}
    </div>
  </div>
</div>
