////////////////////////////
//  Brochure page styles  //
////////////////////////////

.node--page {
  .page__intro {
    @extend .container;
  }
  
  .page__intro-row {
    @extend .row;
  }
  
  .page__intro-text-column {
    @extend .col-lg-7, .col-md-6;
  }
  
  .page-title {
    margin-bottom: 32px;
  
    .page-title__title {
      @extend .sri-text--page-title;
      margin-bottom: 0;
    }
  }
  
  .page__intro-text {}
  
  .field-introduction {
    @extend .sri-text--page-featured;
  }
  
  .page__intro-image-column {
    @extend .col-lg-5, .col-md-6;
    
    .field-introduction-image {
      height: 100%;
      position: relative;
    }

    img {
      @extend .img-fluid;
      @include centerThis();
      top: 20px;
    }
  }
  
  .page__contents {}
  
  .page__contents-table {
    @extend .container;
    padding: 96px $sri-box-margin;
    padding-top: 144px;
  }
  
  .page__contents-content {
    background: url("#{$assets_dir}/ui/curve_a.png") no-repeat center top;
    background-size: 100%;
    padding-top: 164px;
    padding-bottom: 5em;
  }
  
  .content-table {}
  
  .content-table__label {
    @extend .sri-text--content-table-title;
    padding: 0.5rem 0;
    text-transform: uppercase;
  }
  
  .content-table__table {
    ul {
      @extend .nav;
  
      li {
        @extend .nav-item;
  
        a {
          @extend .nav-link, .sri-text--content-table-item;
          padding-left: 0;
        }
      }
    }
  }

  .section--transparent {}

  .section--filled-gray .paragraph__content{
    @extend .sri-box--gray-light;
    margin: 0 auto;
  }

  .section--curve {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    padding-top: 150px;
  }

  .section--curve-a {
    @extend .section--curve;
    background-image: url("#{$assets_dir}/ui/curve_a.png");
  }

  .section--curve-b {
    @extend .section--curve;
    background-image: url("#{$assets_dir}/ui/curve_b.png");
  }
}

@include media-breakpoint-down(lg) {
  .node--page {
    .page__contents-table {
      padding-left: $sri-box-margin--lg;
      padding-right: $sri-box-margin--lg;
    }

    .section--curve {
      background-size: unset;
    }
  }
}

@include media-breakpoint-down(md) {
  .node--page {
    .content-table__table {
      ul {
        flex-direction: column !important;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .node--page {
    .page__contents-table {
      padding-left: $sri-box-margin--sm;
      padding-right: $sri-box-margin--sm;
    }

    .page__intro-image-column {
      padding-top: 2em;

      img {
        position: relative;
      }
    }
  }
}

.node--page--teaser {
  .page__header {
    margin-bottom: 30px;
  }

  .page-title {
    margin-bottom: 10px;
    
    .page-title__title {
      @extend .sri-text--new-item-title;
      margin: 0;
    }

    a {
      text-decoration-color: $sri-text-medium !important;
    }
  }

  .page__indicator {
    @extend .sri-text--indicator;
  }

  .field-introduction {
    @extend .sri-text--paragraph;
    margin-bottom: 40px;
  }
}