/////////////////////////////
//  Donation block styles  //
/////////////////////////////

.donate-form {
  @extend .container, .text-center;
  padding: 70px 90px;
}

.donate-form__cta-row {
  margin-bottom: 2em;
}

.donate-form__description-row {
  margin-bottom: 2em;
}

.donate-form__button-row {}

.donate-form__button {
  @extend .sri-btn--solid;
}


@include media-breakpoint-down(sm) {
  .donate-form {
    padding: 60px;
  }
}

@include media-breakpoint-down(xs) {
  .donate-form {
    padding: 50px 30px;
  }
}