/////////////////////////////
//  Error page 404 styles  //
/////////////////////////////

.error-code-404 {
  @extend .container-fluid;
  background: url('#{$assets_dir}/ui/404_bg.png') right center no-repeat;
  background-size: contain;
  margin: 0;
  padding: 160px 0;
}

.error-code-404__column {
  margin: 0 120px;
  max-width: 500px;
}

.error-code-404__header {
  margin-bottom: 80px;
}

.error-code-404__title-label {
  margin: 0;
  font-size: $t-07 * 2;
  color: $sri-text-blue;
  font-weight: 800;
  margin-bottom: 0.2em;
}

.error-code-404__subtitle-label {
  margin: 0;
  font-size: $t-04;
  color: $sri-text-blue;
  font-weight: normal;
}

.error-code-404__detail {
  margin-bottom: 60px;
}

.error-code-404__form {
  .form-submit__container {
    @extend .text-right;
  }

  .form-submit {
    @extend .sri-btn--hollow-sm;
    max-width: 200px;
  }
}
