/////////////////////////////
//  Styles for the footer  //
/////////////////////////////

.footer {
  clear: both;
}

// :: Footer ctas ::

.ctas__wrapper {}

.ctas {}


// :: Footer Index ::

.index__wrapper {
  background-color: $sri-blue-700;
  color: $sri-text-blue;
}

.index__row {
  @extend .container;
  padding-top: 3em;
  padding-bottom: 3em;
}

.index {
  @extend .row;
}

.block--system-menu-blockfooter {
  @extend .col-lg-9, .col-md-8, .col-sm-6;

  ul {
    @extend .nav;
    
    li {
      @extend .nav-item;
  
      a {
        @extend .nav-link;
        @extend .sri-text--content-table-item;
        font-size: 1.2em;
      }
    }
  }

  ul.menu-level-1 {
    @extend .flex-column;
    margin-top: 1em;
    margin-bottom: 1em;

    a {
      color: $sri-blue-200 !important;
      padding-top: 2px;
      padding-bottom: 2px;
      font-weight: 400;
      font-size: 0.9em;
    }
  }

  .contextual-links {
    a {
      display: inline;
      text-align: left;
      font-weight: initial;
      text-transform: unset;
      color: $sri-text-light !important;
    }
  }
}

.block--system-menu-blockfooter-links {
  @extend .col-lg-3, .col-md-4, .col-sm-6;

  ul {
    @extend .nav, .flex-column;
    
    li {
      @extend .nav-item;
      margin: 0.8em;
  
      a{
        @extend .nav-link;
        @extend .sri-btn--featured;
        font-size: 1.2em;
      } 
    }
  }

  .contextual-links {
    a {
      display: inline;
      text-align: left;
      font-weight: initial;
      text-transform: unset;
      color: $sri-text-light !important;
    }
  }
}


// :: Footer signature ::

.signature__wrapper {
  @extend .container, .text-center;
}

.signature {}


@include media-breakpoint-down(sm) {
  .block--system-menu-blockfooter {
    margin-bottom: 2em;
  }
}