////////////////////////////////
//  Language switcher styles  //
////////////////////////////////

.block--language-switcher {
  position: relative;
}

.language-switcher__container {
  @extend .rounded;
  padding: 1em;
  background: $sri-gray-light;
  position: absolute;
  right: 0;
  top: 120%;
  opacity: 1;
  transform: translate(0%, 0%) scaleY(1);
  transition: transform 0.3s, opacity 0.1s;

  .language-link {
    @extend .sri-text--main-menu;
    padding: 0.3em;
  }

  .language-link.is-active {
    @extend .rounded;
    border: 2px solid $sri-text-blue-dark;
  }
}

.language-switcher__container:before {
  content: '';
  border: 10px solid $sri-gray-light;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -18px;
  right: 15px;
}

.language-switcher__container.is-hidden {
  opacity: 0;
  transform: translate(0, -100%) scaleY(0);
  pointer-events: none;
}