////////////////////////////////////////////////
//  Styles for resources-library-search form  //
////////////////////////////////////////////////

.resources-library-search {
  @extend .sri-box--gray-light;
  margin: 2em 0 !important;
  padding: 40px !important;

  .resources-library-search__row {
    @extend .row;
  }

  .resources-library-search__intro-col {
    @extend .col-lg-5, .col-md-6;
  }

  .resources-library-search__form-col {
    @extend .col-lg-7, .col-md-6;

    .form-item {
      margin-bottom: 1em;

      p {
        margin-bottom: 0;
      }

      label {
        @extend .sri-text--indicator;
        margin-bottom: 0.5em;
      }

      .description {
        margin-top: 0.5em;
      }
    }
    
    .form-item:last-child {
      margin-bottom: 0;
    }

    .form-submit__container {
      @extend .text-right;
      margin-top: 2em;
    }

    .form-submit {
      @extend .sri-btn--hollow-sm;
      max-width: 200px;
      display: inline-block;
    }
  }
}