///////////////////////
//  New item styles  //
///////////////////////

.node--news_item {
  .page-title {
    margin-bottom: 20px;

    .page-title__title {
      @extend .sri-text--new-item-title;
      margin: 0;
    }
  }

  .new-item__date {
    @extend .sri-text--indicator;
  }

  .new-item__labels {
    margin: 40px 0;
  }

  .new-item__type,
  .new-item__topics {
    display: inline-block;
    
    div {
      display: inline-block;
    }

    a {
      @extend .badge, .sri-text--indicator;
      margin-top: 6px;
      margin-bottom: 6px;
      margin-right: 0.7em;
      padding: 0.5em 0.8em;
      border-radius: 10px;
    }
  }

  .node--field-news-type {
    a {
      background-color: rgba($sri-orange-light, 0.6) !important;
    }
  }

  .node--field-topics {
    a {
      background-color: $sri-blue-100 !important;
    }
  }

  .new-item__event-date {
    padding-left: 60px;
    background: url("#{$assets_dir}/icons/calendar_gray.svg") no-repeat left center;
    background-size: 40px;
    margin: 20px 0;

    .field-label {
      @extend .sri-text--indicator;
    }
  }
}

.node--news_item--full {
  margin-bottom: 4em;
}

.node--news_item--teaser {
  .new-item__header {
    margin-bottom: 30px;
  }

  .page-title {
    margin-bottom: 10px;

    a {
      text-decoration-color: $sri-text-medium !important;
    }
  }
}

.node--news_item--column {
  .page-title {
    .page-title__title {
      font-size: $t-04;
    }

    a {
      text-decoration-color: $sri-text-medium !important;
    }
  }

  .new-item__type-date {
    @extend .sri-text--indicator-small;
    margin-bottom: 1em;
  }

  .node--field-news-type {
    display: inline;

    a {
      background-color: transparent !important;
      color: $sri-text-blue-dark;
    }
  }
}