///////////////////////
//  New item styles  //
///////////////////////

.news-view {
  .view__exposed {
    border-bottom: 3px solid $sri-blue-100;
    padding-top: 30px;
    padding-bottom: 30px;
    
    .views-exposed-form {
      @extend .row;
    }

    .form-item {
      @extend .col-md-9;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }

    .form-actions {
      @extend .col-md-3;

      .button {
        @extend .btn, .btn-primary;
      }
    }

    .advanced-search-link {
      @extend .col-12, .text-right, .sri-text--paragraph-link;
      margin-top: 0.5em;
    }
  }

  .view__content {
    padding: 30px 80px;

    .views-row {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 3px solid $sri-blue-100;
    }
  }

  .view__pager {
    @extend .sri-pager;
  }
}