//////////////////////////////////
//  Newsletter suscribe styles  //
//////////////////////////////////

.block--newsletter-subscription-block {
  background-color: $sri-blue-100;
}

.newsletter-suscribe-form {
  @extend .container;
  padding-top: 70px;
  padding-bottom: 70px;
}

.newsletter-suscribe-form__row {
  @extend .row;
}

.newsletter-suscribe-form__description-column,
.newsletter-suscribe-form__form-column {
  @extend .col-md-6;
}

.newsletter-suscribe-form__description-column {
  padding-right: 160px;
}

.newsletter-suscribe-form__description-cta {
  margin-bottom: 1em;
}

.newsletter-suscribe-form__form {
  padding: 16px;
  padding-top: 0;
  padding-right: 0;

  .form-item {
    margin: 0;
    margin-bottom: 20px;
  }

  label {
    text-indent: 15px;
  }
}

.newsletter-suscribe-form__form-row {
  @extend .row;
}

.newsletter-suscribe-form__form-name-col {
  @extend .col-lg-6;
}

.newsletter-suscribe-form__form-lastname-col {
  @extend .col-lg-6;
}

.newsletter-suscribe-form__form-mail-col {
  @extend .col-lg-8;
}

.newsletter-suscribe-form__form-button-col {
  @extend .col-lg-4;
}

.newsletter-suscribe-form__form-button {
  @extend .btn, .btn-primary;
  width: 100%;
  margin-top: 30px;
}

@include media-breakpoint-down(lg) {
  .newsletter-suscribe-form__description-column {
    padding-right: 100px;
  }
}

@include media-breakpoint-down(md) {
  .newsletter-suscribe-form__description-column {
    padding-right: 60px;
  }
}

@include media-breakpoint-down(sm) {
  .newsletter-suscribe-form__description-column {
    padding-right: 15px;
  }
}

@include media-breakpoint-down(xs) {
  .newsletter-suscribe-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}