/////////////////////////////
//  Partners block styles  //
/////////////////////////////

.partners {
  @extend .sri-box--base;
  margin-top: 1em;
  margin-bottom: 0;
  padding: 0;
  padding-top: 40px;

  .partners__row {
    @extend .row;
    margin: auto;
    justify-content: center;
  }

  .partners__col {
    @extend .col-lg-4, .col-md-6, .col-sm-12;
    padding-bottom: 2em;
    min-height: 450px;
  }
}

@include media-breakpoint-down(xs) {
  .partners {
    padding-bottom: 0;
    
    .partners__col {
      min-height: unset;
    }
  }
}


// Partners footer

.partners-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.partners-footer__label {
  h3 {
    @extend .sri-text--page-featured;
    text-transform: uppercase;
  }
}

.partners-footer__list {
  @extend .row;
  justify-content: center;
}

.partners-footer__partner {
  @extend .col-md-2, .col-sm-4;
  height: 180px;
}

.partners-footer__partner-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  img {
    @extend .img-fluid;
    @include centerThis();
    max-height: 100px;
  }
}