///////////////////////
//  Resource styles  //
///////////////////////

.node--resource {
  .resource__header {
    margin-bottom: 3em;
  }

  .page-title {
    margin-bottom: 20px;

    .page-title__title {
      @extend .sri-text--new-item-title;
      margin: 0;
    }
  }

  .resource__type,
  .resource__topics {
    display: inline-block;
    
    div {
      display: inline-block;
    }

    a {
      @extend .badge, .sri-text--indicator;
      margin-top: 6px;
      margin-bottom: 6px;
      margin-right: 0.7em;
      padding: 0.5em 0.8em;
      border-radius: 10px;
    }
  }
  
  .node--field-resource-type {
    a {
      background-color: rgba($sri-orange-light, 0.6) !important;
    }
  }

  .node--field-topics {
    a {
      background-color: $sri-blue-100 !important;
    }
  }

  .resource__files {
    padding-top: 2em;
    padding-bottom: 4em;

    .file {
      display: block;
      padding: 1em 0;
      padding-left: 50px;
      position: relative;

      a {
        @extend .sri-text--lists-links;
        font-size: $t-03;
      }
    }

    .file:after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      @include centerThis('left');
      background-image: url("#{$assets_dir}/icons/file_blue.svg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .file--application-pdf:after {
      background-image: url("#{$assets_dir}/icons/file_pdf_blue.svg");
    }

    .file--x-office-spreadsheet:after,
    .file--mime-application-vnd-ms-excel-template-macroEnabled-12:after,
    .file--mime-application-vnd-openxmlformats-officedocument-spreadsheetml-template:after {
      background-image: url("#{$assets_dir}/icons/file_excel_blue.svg");
    }

    .file--mime-text-csv:after {
      background-image: url("#{$assets_dir}/icons/file_alt_blue.svg");
    }
  }
}

.node--resource--teaser {
  .resource__header {
    margin-bottom: 30px;
  }

  .resource__date {
    @extend .sri-text--indicator;
  }

  .resource__labels {
    margin: 40px 0;
  }

  .page-title {
    margin-bottom: 10px;

    a {
      text-decoration-color: $sri-text-medium !important;
    }
  }

  .resource__type,
  .resource__topics {
    display: inline-block;
    
    div {
      display: inline-block;
    }

    a {
      @extend .badge, .sri-text--indicator;
      margin-right: 0.7em;
      padding: 0.5em 0.8em;
      border-radius: 10px;
    }
  }

  .resource__topics {
    margin-left: 0;
  }

  .node--field-resource-type {
    a {
      background-color: rgba($sri-orange-light, 0.6) !important;
    }
  }

  .node--field-topics {
    a {
      background-color: $sri-blue-100 !important;
    }
  }
}