//////////////////////////
//  Search view styles  //
//////////////////////////

.search-view {
  .view__exposed {
    @extend .rounded;
    background-color: $sri-gray-light;
    margin-bottom: 40px;
    padding: 20px 50px;

    .form-item-content-type {
      margin-bottom: 30px;
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 3px solid $sri-blue-100;

      .form-item__label {
        @extend .col-lg-4, .col-md-5;
        padding: 0;

        label {
          @extend .sri-text--section-subtitle;
          margin-bottom: 0;
        }
      }

      .form-item__contents {
        @extend .col-lg-8, .col-md-7;
      }
    }

    .form-item-search-api-fulltext,
    .form-item-search-api-language {
      .form-item__label {
        @extend .col-lg-2;
      }

      .form-item__contents {
        @extend .col-lg-10;
      }
    }

    .form-item-search-api-fulltext {
      input {
        @extend .form-search;
        background-position-x: 98%;
      }
    }

    .search__middle {
      @extend .row;
      
      .form-item {
        @extend .col-12;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
      }

      .form-item-field-news-type,
      .form-item-field-resource-type,
      .form-item-field-topics,
      .form-item-sort-by,
      .form-item-sort-order {
        @extend .col-lg-6;

        .form-item__label {
          @extend .col-lg-4;
        }
  
        .form-item__contents {
          @extend .col-lg-8;
        }
      }
    }

    .form-actions {
      padding-top: 30px;
      padding-bottom: 20px;

      .button {
        @extend .sri-btn--hollow-sm;
      }
    }
  }

  .view__content {
    .item-list > ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        padding-top: 50px;
        padding-bottom: 10px;
        border-bottom: 3px solid $sri-blue-100;
      }
    }
  }

  .view__pager {
    @extend .sri-pager;
  }
}