/////////////////////////////////
//  Taxonomy term page styles  //
/////////////////////////////////

.taxonomy-page {
  .view__content {
    padding: 30px 80px;

    .views-row {
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 3px solid $sri-blue-100;
    }
  }

  .view__pager {
    @extend .sri-pager;
  }
}