/////////////////////////////////////
//  Color variables and overrides  //
/////////////////////////////////////

// Color variables for SRI elements pallete
$sri-orange: #DD4C08;
$sri-light: #FFFEFE;
$sri-dark: #383838;
$sri-gray-dark: #464546;
$sri-gray-medium: #D4D4D4;
$sri-gray-light: #F0F0F0;
$sri-blue-000: #E1E3E9;
$sri-blue-100: #D5D8DC;
$sri-blue-200: #BABECC;
$sri-blue-300: #687BB7;
$sri-blue-400: #455072;
$sri-blue-500: #414B6C;
$sri-blue-600: #323C59;
$sri-blue-700: #192037;
$sri-orange-light:#F69144;
$sri-orange-lighter: #FDF0E4;


// Color variables for SRI text pallete
$sri-text-dark: #404040;
$sri-text-medium: #4F4F4F;
$sri-text-light: #808080;
$sri-text-blue: #7386BF;
$sri-text-blue-dark: #4F5A7D;
$sri-text-blue-dark-2: #394464;
$sri-text-red: #810000;


// Override bootstrap default colors
$primary:       $sri-orange !default;
$secondary:     $sri-blue-300 !default;
// $success:       null !default;
// $info:          null !default;
// $warning:       null !default;
// $danger:        null !default;
$light:         $sri-light !default;
$dark:          $sri-dark !default;