{# PLEASE NOTE that for blocks, we are importing the macros from the @sri_blocks module, NOT the theme #}
{% import '@sri_blocks/macros.twig' as sriModuleMacros %}

<div class="newsletter-suscribe-form">
  <div class="newsletter-suscribe-form__row">
    <div class="newsletter-suscribe-form__description-column">
      <div class="newsletter-suscribe-form__description-cta">
        {{ sriModuleMacros.freeformText('call-to-action', freeform) }}
      </div>
      <div class="newsletter-suscribe-form__description">
        {{ sriModuleMacros.freeformText('intro', freeform) }}
      </div>
    </div>
    <div class="newsletter-suscribe-form__form-column">

      {#
      UNCOMMENT THIS LINE TO ENABLE THE DRUPAL FORM
      AND REMOVE THE HTML FORM BELOW
      {{ drupal_form('\\Drupal\\sri_blocks\\Form\\NewsletterSubscription') }}
      #}

      <form class="newsletter-suscribe-form__form">
        <div class="newsletter-suscribe-form__form-row">
          <div class="newsletter-suscribe-form__form-name-col">
            <div class="form-item">
              <label for="newsletter_first_name">{{ 'First Name'|t }}</label>
              <input type="text" id="newsletter_first_name" name="first_name">
            </div>
          </div>
          <div class="newsletter-suscribe-form__form-lastname-col">
            <div class="form-item">
              <label for="newsletter_last_name">{{ 'Last Name'|t }}</label>
              <input type="text" id="newsletter_last_name" name="last_name">
            </div>
          </div>
        </div>
        <div class="newsletter-suscribe-form__form-row">
          <div class="newsletter-suscribe-form__form-mail-col">
              <div class="form-item">
                <label for="newsletter_email">{{ 'Email'|t }}</label>
                <input type="email" id="newsletter_email" name="email">
              </div>
          </div>
          <div class="newsletter-suscribe-form__form-button-col">
              <div class="form-item">
                <input type="submit" value="Join" class="newsletter-suscribe-form__form-button">
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
