{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="site-branding">
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__link">
      <div class="site-branding__logo">
      {% if site_logo %}
        <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
      {% endif %}
      </div>
      <div class="site-branding__name">
      {# {% if site_name %}
        <span>{{ site_name }}</span>
      {% endif %} #}
        <img src="/themes/custom/sri_theme/logo_extra.svg" alt="{{ site_name }}" />
      </div>
    </a>
  </div>
{% endblock %}
